.git
**/.git
**/node_modules
**/dist
**/bundle
**/logs
**/*.log
.env*
packages/db/job-descriptions
packages/db/rendered
packages/db/feedback
packages/db/forms
packages/db/jd-analyzed
packages/db/jd-linted
packages/db/tests
packages/db/data
packages/bullet-embeddings/data
packages/agent-marketplace/
node_modules
.containers/
